In [4]:
import pandas as pd
import numpy as np

In [5]:
pd

In [7]:
####Series 생성 #####
# 1차원, 1개의 column은 Series라고 한다.#
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [26]:
population = pd.Series([9904124, 3448736, 2895432, 2466052])
population

0    9904124
1    3448736
2    2895432
3    2466052
dtype: int64

In [27]:
#인덱스 지정해서 생성 #
population= pd.Series([9904124,3448736,2895432,2466052], index= ['서울', '부산','인천','대구'])
population

서울    9904124
부산    3448736
인천    2895432
대구    2466052
dtype: int64

In [30]:
#Series에 이름 지정
#name
#index.name
population.name="인구"   #값에 이름 달기
#인덱스에 이름달기
population.index.name="도시"
population

도시
서울    9904124
부산    3448736
인천    2895432
대구    2466052
Name: 인구, dtype: int64

In [29]:
##인덱스 지정,인덱스 이름, 값이름 추가하기
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
sd = pd.Series([1, 2, 3, 4],
              index=["1번", "2번", "3번", "4번"])
sd.name = "학생정보"
sd.index.name = "아이디"
sd

아이디
1번    1
2번    2
3번    3
4번    4
Name: 학생정보, dtype: int64

In [34]:
###Series 데이터 확인 ###
# -values : 값 확인
# -index : 인덱스 확인
# -dtype: 타입 확인
print("Series 값 확인 : ", population.values)
print("Series 인덱스 확인 : ", population.index)
print("Series 데이터타임 확인 : ", population.dtype)

Series 값 확인 :  [9904124 3448736 2895432 2466052]
Series 인덱스 확인 :  Index(['서울', '부산', '인천', '대구'], dtype='object', name='도시')
Series 데이터타임 확인 :  int64

In [37]:
print("Series 값 확인 : ",sd.values)
print("Series 인덱스 확인 : ", sd.index)
print("Series 데이터타임 확인 : ",sd.dtype)

Series 값 확인 :  [1 2 3 4]
Series 인덱스 확인 :  Index(['1번', '2번', '3번', '4번'], dtype='object', name='아이디')
Series 데이터타임 확인 :  int64