In [3]:
for su in range(1, 10, 1):
    for dan in range(2, 10, 1):
        print(f"{dan} * {su} = {dan*su}",end="\t")

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [6]:
dic1 = {"name" : "HM", "age" : 27, "phone" : "010-2724-6675"}
dic1

{'name': 'HM', 'age': 27, 'phone': '010-2724-6675'}

In [7]:
print(type(dic1))

<class 'dict'>

In [10]:
dic1["birth"] = "02/08"
dic1

{'name': 'HM',
 'age': 27,
 'phone': '010-2724-6675',
 'brith': '02/08',
 'birth': '02/08'}

In [11]:
dic_test = {"노래제목" : "라일락"}
dic_test["가수"] = "아이유"
dic_test["날짜"] = "2021.03.26"
dic_test

{'노래제목': '라일락', '가수': '아이유', '날짜': '2021.03.26'}

In [20]:
dic1

{'phone': '010-2724-6675', 'brith': '02/08', 'birth': '02/08'}

In [22]:
dic1 = {"name" : "HM", "age" : 27, "phone" : "010-2724-6675"}
dic1

{'name': 'HM', 'age': 27, 'phone': '010-2724-6675'}

In [23]:
dic1["name"]

'HM'

In [27]:
del dic1["age"]
dic1

KeyError: 'age'

In [32]:
dic1.get("name")

'HM'

In [33]:
dic1.get("birth")

In [34]:
dic1 = {"name" : "HM", "age" : 27, "phone" : "010-2724-6675","birth" : "11/24"}
dic1.keys()

dict_keys(['name', 'age', 'phone', 'birth'])

In [36]:
list(dic1.keys())

['name', 'age', 'phone', 'birth']

In [37]:
dic1.values()

dict_values(['HM', 27, '010-2724-6675', '11/24'])

In [39]:
list(dic1.values())

['HM', 27, '010-2724-6675', '11/24']

In [40]:
"name" in dic1

True

In [44]:
"phone" in dic1

True

In [48]:
dic1.clear() # 다 지워버리는 용어
dic1

{}

In [50]:
## def 함수명(매개변수):
# 실행문장
# return 반환변수

def number_sum(num1, num2):
    result = num1 + num2        #result 생략하고 바로 return num1+num2 가능
    return result
number_sum(3, 10)

13

In [68]:
def number_minus(num1, num2):
    num1 = int(input("첫 번째 정수 입력 >> "))
    num2 = int(input("두 번째 정수 입력 >> "))
    result = number_minus(num1,num2)
    
result

NameError: name 'result' is not defined

In [71]:
#함수 정의(두 수의 차를 구하는 알고리즘)
def number_minus(a, b) :
    if a > b :
        res = a - b
    else :
        res = b - a
    return res

In [74]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
result = number_minus(num1, num2) #함수를 적용한 결과를 result라는 변수에 담아줌
result

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 10

7

In [121]:
# ㅋ을 없애는 함수 작성
def s_replace(s):
    a = s.replace("ㅋ","")
    return a
    

  
s = input("문자열 입력 >> ")
result = s_replace(s)
result

문자열 입력 >> ㅋ을 지워주세요ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

'을 지워주세요'

In [ ]:
# ㅋ을 없애는 함수 작성
def s_replace(a):
    result = a.replace("ㅋ","")
    return result #입력된 문자열에서 ㅋ을 없에는 코드
s = input("문자열 입력>> ")

In [85]:
def cal(num1, num2, op):
    if op == "+":
        result1 = num1+num2
    else :
        result1 = num1-num2
    return result1

In [91]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-)>> ")
result1 = cal(num1, num2, op)
print(f"결과 : {result1}")

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 5
연산자 입력(+,-)>> +
결과 : None

In [92]:
def cal(num1, num2, op):
    if op == "+":
        result = num1+num2
    else :
        if num1 > num2 :
            result = num1 - num2
        else :
            result = num2 - num1
    return result

In [93]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-)>> ")
result = cal(num1, num2, op)
print(f"결과 : {result}")

첫 번째 정수 입력 >> 3
두 번째 정수 입력 >> 5
연산자 입력(+,-)>> +
결과 : 8

In [94]:
## def 함수명(*매개변수):
# 실행문장
# return 반환변수

In [96]:
def add(*args):
    print(args)

In [98]:
add(1, 2, 3)

(1, 2, 3)

In [99]:
add(1, 2, 3, 4, 5, 6, 7, 8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [117]:

def add(*args):
    return sum(args)
    
add(1, 2, 3)

TypeError: 'int' object is not callable

In [108]:
def add_sub(num1, num2):
    return num1+num2, num1-num2

In [109]:
add_sub(10, 7)

(17, 3)

In [112]:
def power_of_N(num, power=2):
    return num**power

In [118]:
power_of_N(5)

25

In [120]:
power_of_N(8,3)

512

In [123]:
list1 = [3, 62, 15, 20, 44, 55, 32]
num_3, num_4, order = 0, 0, 0

for i in list1 :
    if i % 3 == 0:
        num_3 += 1
    elif i % 4 == 0:
        num_4 += 1
    else :
        order += 1
print(f"3의 배수 : {num_3}개, 4의 배수 {num_4}개 그외 {order}개")

3의 배수 : 2개, 4의 배수 3개 그외 2개

In [124]:
score_list = [["박매일", 89, 78, 99],["김미희", 67, 88, 77],["강예진", 100, 55, 96]]

In [130]:
print("="*48)
print("이름\tpython\tjava\tdb\t")


python, java, db = 0, 0, 0

for i in score_list :  #i = score_list[0], score_list[1], score_list[2]
    avg = (i[1] + i[2] + i[3]) / 3  #선생님 별 평균
    avg_p, avg_j, avg_d = 0, 0, 0    #과목 별 평균
    
    # 학점 판단 조건
    if avg >= 90 :
        grade = "A"
    elif avg >= 80:
        grade = "B"
    elif avg >= 70:
        grade = "C"
    elif avg >= 60:
        grade = "D"
    else :
        grade = "F"
    print(i[0],"\t",i[1], "\t",i[2], "\t",i[3], int(avg), "\t", grade)
    python += i[1]
    java += i[2]
    db += i[3]
    
avg_p = python / len(score_list)
avg_j = java / len(score_list)
avg_d = db / len(score_list)
print("="*48)
print("평균\t", int(avg_p), "\t", int(avg_j), "\t", int(avg_d))

================================================
이름	python	java	db
박매일 	 89 	 78 	 99 88 	 B
김미희 	 67 	 88 	 77 77 	 C
강예진 	 100 	 55 	 96 83 	 B
================================================
평균	 85 	 73 	 90

In [129]:
len(score_list)

3