In [1]:
import numpy as np
import pandas as pd

In [11]:
###딕셔너리 객체로 Series생성
#-딕셔너리는 key 와 value로 구성
#-key 값은 index
#-value값은 value

data={"서울":9631482,
     "부산":3393191,
     "인천":2632035,
     "대전":1490158}
population = pd.Series(data) #2010년 인구수를 딕셔너리객체로 Series생성
population

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [12]:
population1= pd.Series([9904124,3448736,2895432,2466052], index= ['서울', '부산','인천','대구'])
population1
population1.name="인구"   
population1.index.name="도시"
population1

도시
서울    9904124
부산    3448736
인천    2895432
대구    2466052
Name: 인구, dtype: int64

In [13]:
population.index.name="지역"
population.name="헤으응"
population

지역
서울    9631482
부산    3393191
인천    2632035
대전    1490158
Name: 헤으응, dtype: int64

In [20]:
sub_population = population1-population

sub_population

대구         NaN
대전         NaN
부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [21]:
#boolean인덱싱을 통해서
#null값만 출력
#isnull
sub_population[sub_population.isnull()]

대구   NaN
대전   NaN
dtype: float64

In [22]:
##**null이 아닌값만 출력
#***notnull***#
sub_population[sub_population.notnull()]

부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [24]:
###Series갱신, 추가, 삭제
#갱신, 추가
#변수[인덱스]=값
#sub_population 의 대전값 갱신
sub_population["대전"] = 80000 
sub_population

대구         NaN
대전     80000.0
부산     55545.0
서울    272642.0
인천    263397.0
dtype: float64

In [26]:
#광주값 추가
sub_population["광주"] = 100000
sub_population

대구         NaN
대전     80000.0
부산     55545.0
서울    272642.0
인천    263397.0
광주    100000.0
dtype: float64

In [27]:
#삭제 
#del변수[인덱스]
#대구값 삭제
del sub_population["대구"]
sub_population

대전     80000.0
부산     55545.0
서울    272642.0
인천    263397.0
광주    100000.0
dtype: float64

In [28]:
#변수 .drop(인덱스)
sub_population.drop("대전")

부산     55545.0
서울    272642.0
인천    263397.0
광주    100000.0
dtype: float64