In [ ]:
a=1+3 #가나다라마바ㅏ사
a

 ### 마크다운 연습용 입니다.
*    15

In [ ]:
num=3
print(num)

In [43]:
num1=13
num2=25
num3=77
print(num1)
print(num2)
print(num3)

13
25
77

In [42]:
str1 = "Funny python"
str2 = 'Easy python'
print(str1)
print(str2)

Funny python
Easy python

In [28]:
num = 10
Num = 20
print("num :",num)
print("Num :",Num)

num : 10
Num : 20

In [ ]:
 #파이썬
import

In [44]:
a,b = 10,15
print(a)
print(b)

10
15

In [ ]:
str1 = str2 ="hello"

In [1]:
x = 100
y = 200
sum1 = x+y
print(sum1)

300

In [ ]:
sum([1,2,3])

In [9]:
s = "she's gone"
print(s)

she's gone

In [6]:
s1 = 'he said that "she is gone"'
s2 = "he said that \"she is gone\""
print(s1)
print(s2)

he said that "she is gone"
he said that "she is gone"

In [15]:
s = "여러줄로 구성된 문자열을 \n하나로 대입할 때"
print(s)

여러줄로 구성된 문자열을
하나로 대입할 때

In [16]:
s = """여러줄로 구성된
문자열을 하나로
대입할 때"""
print(s)

여러줄로 구성된
문자열을 하나로
대입할 때

In [20]:
s = "My name is Min"
print(s[-2])
print(s[-1])

i
n

In [24]:
s = "My name is Min"
print(s[0:2])
print(s[3:7])
print(s[8:10])

My
name
is

In [27]:
print(s[:7])

My name

In [29]:
s = """안녕하세요 
저는 박형민
입니다."""
print(s)

안녕하세요
저는 박형민
입니다.

In [39]:
s='"안녕하세요 \'저는 박형민"'
print(s)

"안녕하세요 '저는 박형민"

In [41]:
s = "Hi nice to meet you"
print(s[0:7])

Hi nice

In [45]:
print(s[:19])

Hi nice to meet you

In [46]:
print(s[-4:])

 you

In [55]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜 :",s[:11])
print("날씨 :",s[-6:-4])

날짜 : 2020년 3월 3일
날씨 : 맑음

In [56]:
s = "오늘은 7월 7일 입니다."
s

'오늘은 7월 7일 입니다.'

In [59]:
day = 15
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 15일 입니다.'

In [63]:
month = 7
day = 7
s = "오늘은 {}월 {}일 입니다.".format(month,day)
s

'오늘은 7월 7일 입니다.'

In [65]:
x = 100
y = 200
sum2 = x+y
print("{}와 {}의 합은 {}입니다.".format(x,y,sum2))

100와 200의 합은 300입니다.

In [66]:
x = 100
y = 200
sum2 = x+y
print(f"{x}와 {y}의 합은 {sum2}입니다.")

100와 200의 합은 300입니다.

In [69]:
s = "너무 잠와 죽겠습니다.잠와요 잠와 "
s.count("잠")

3

In [68]:
s = "   너무 잠와 죽겠습니다.   "
s.strip()

'너무 잠와 죽겠습니다.'

In [70]:
s = "너무 잠와 죽겠습니다."
s.split(" ")

['너무', '잠와', '죽겠습니다.']

In [71]:
s = "너무 잠와 죽겠습니다."
s.replace("잠","잠안")

'너무 잠안와 죽겠습니다.'

In [72]:
month = 3
day = 2
print(f"오늘은 {month}월 {day}일 입니다.")

오늘은 3월 2일 입니다.

In [75]:
x = 500
y = 300
sum1 = x-y
print(f"{x} 빼기 {y}은 {sum1}입니다.")

500 빼기 300은 200입니다.

In [76]:
print("{}뺴기 {}은 {}입니다.".format(x,y,sum1))

500뺴기 300은 200입니다.