In [3]:
import pandas as pd
import numpy as np

In [6]:
###Series 연산 ###
population= pd.Series([9904124,3448736,2895432,2466052], index= ['서울', '부산','인천','대구'])
population
population.name="인구"   #값에 이름 달기
#인덱스에 이름달기
population.index.name="도시"
population

도시
서울    9904124
부산    3448736
인천    2895432
대구    2466052
Name: 인구, dtype: int64

In [8]:
population/1000000

도시
서울    9.904124
부산    3.448736
인천    2.895432
대구    2.466052
Name: 인구, dtype: float64

In [11]:
### Series 인덱싱 , 슬라이싱####
#인덱싱
#Series에서는 index에 값을 지정해줬을때
#index값과 index번호 둘다 인덱싱에 사용가능 
print(population[0])
print(population["서울"])

9904124
9904124

In [14]:
# 한번에 여러 값 인덱싱하기
#***리스트값**을 통해 여러가지 값 인덱싱 가능
#원하는 순서대로 값을 가져올 수 있다.
population[["인천", "서울", "부산"]]

도시
인천    2895432
서울    9904124
부산    3448736
Name: 인구, dtype: int64

In [16]:
# boolean 인덱싱
population >= 2500000

도시
서울     True
부산     True
인천     True
대구    False
Name: 인구, dtype: bool

In [18]:
population[population >= 2500000]

도시
서울    9904124
부산    3448736
인천    2895432
Name: 인구, dtype: int64

In [22]:
#두가지 이상의 조건으로 boolean인덱싱 하기
#250만 이상 , 500만 이하 인구를 가지는 도시 추출!!
population[(population >= 2500000) & (population <=5000000)]

도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64

In [24]:
# ***********슬라이싱*************#
### index 값을 사용 [이상 : 이하]###
### index 번호를 사용 [이상 : 미만]###
#- 부산과 , 인천 출력 
print(population[1:3])   #[이상 : 미만]
print(population["부산": "인천"]) #[이상 : 이하]

도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64
도시
부산    3448736
인천    2895432
Name: 인구, dtype: int64

In [27]:
### 연습뮨제 ###
#-스마트중학교 1학년 1반의 중간고사 성적(국어, 영어, 수학, 과학, 사회)점수를 series 데이터로 생성하시오
pd.Series([95, 100, 80, 90, 50])
a = pd.Series([95, 100, 80, 90, 50],
             index=["국어", "영어", "수학", "과학", "사회"])
a

국어     95
영어    100
수학     80
과학     90
사회     50
dtype: int64

In [29]:
a.name="중간고사 성적"
a.index.name="과목"
a

과목
국어     95
영어    100
수학     80
과학     90
사회     50
Name: 중간고사 성적, dtype: int64

In [36]:
print(a[:3])
print(a["국어": "수학"])

과목
국어     95
영어    100
수학     80
Name: 중간고사 성적, dtype: int64
과목
국어     95
영어    100
수학     80
Name: 중간고사 성적, dtype: int64

In [37]:
a[a>=85]

과목
국어     95
영어    100
과학     90
Name: 중간고사 성적, dtype: int64

In [39]:
#- 80점이상 90점이하
a[(a>=80)&(a<=90)]

과목
수학    80
과학    90
Name: 중간고사 성적, dtype: int64

In [44]:
###******평균, 합계, 최대값*********###
print(np.mean(a))#평균
print(np.sum(a))#합계
print(np.max(a))#최대값

83.0
415
100